* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

body {

    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    font-family: sans-serif;
}

.container {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 50px;
    color: #fff;
}
input{
    margin: 30px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    
}
li {
    margin: 10px 0px;
    color: #fff;
}
